---
layout: default
---

<!-- {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}
 -->

<ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">{{ page.title }}</h1>
        {% if site.plainwhite.search %}
          <div class="search-container">
            <div class="search-section">
              <i class="icon-search"></i>
              <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
            </div>
            <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
          </div>
        {% endif %}
    </li>
    <li>
            <div class="post">
              {% for cat in site.categories %}
                <h3>{{ cat[0] }}</h3>
                <ul>
                  {% for post in cat[1] %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endfor %}
            </div>
    </li>
</ul>
  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
